body {
  margin: 0px;
  padding: 0px;
  background: #FFF;
  font-family: Verdana,Geneva,sans-serif;
}

* {
  box-sizing: border-box;
}

div {
  display: block;
}

main>div {
  min-height: 100vh;
}

.app {
  width: 50%;
  margin: 0 auto;
}

a {
  -webkit-transition: color .1s linear;
  transition: color .1s linear;
  color: #477dca;
  text-decoration: none;
}

header {
  background-color: #ff742b;
  display: block;
}

.SearchHeader.container {
  width: 100%!important;
}

.SearchHeader_search {
  height: 60px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  background: #ff742b;
  height: auto;
  padding: 4px;
  position: relative;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.SearchHeader_logo {
  -ms-flex: 1 0 180px;
  flex: 1 0 180px;
  max-width: 240px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.SearchHeader_logo img {
  width: 48px;
  margin-right: 8px;
}

.SearchHeader_container {
  position: relative;
  display: inline-block;
  width: calc(100% - 324px);
  margin-right: 16px;
}

.SearchHeader .SearchIcon {
  position: absolute;
  top: 9px;
  left: 12px;
  color: #ff742b;
  font-size: 24px;
  pointer-events: none;
}

.SearchHeader_label {
  color: #000;
  font-size: 18px;
  line-height: 1;
}

.SearchHeader .SearchInput {
  border-radius: 0;
  border: none;
  height: 42px;
  width: 100%;
  box-shadow: none;
  padding: 16px 144px 16px 54px;
  font-weight: 300;
  background-color: #fff;
  color: rgba(0,0,0,.75);
}

input[type="search" i] {
  appearance: searchfield;
  box-sizing: border-box;
  padding: 1px 2px;
}

input {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: textfield;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

.Story, .Story_container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.Story {
  font-size: 14px;
  padding: 0 16px;
  min-height: 40px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.Story_data {
  margin: 4px 0;
}

.Story_title {
  width: 100%;
  position: relative;
  margin-bottom: 4px;
}

.Story_meta, .Story_meta a {
  color: #696969;
}

.Story_meta {
  font-size: 10.6667px;
}

.Story_separator {
  margin: 0 5px;
  color: #696969;
}

.todo-list {
  background: #f6f6ef;
  border-radius: 4px;
  max-width: 1200px;
  padding: 5px;
}

.todo {
  align-items: center;
  background: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 3px 10px;
}
